.boton {
    background-color: #F1B24A; /* Color amarillo */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.boton:hover {
    background-color: #FFD700; /* Color amarillo claro al pasar el mouse */
}
