.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  border: 2px solid #EE8C45;
  border-radius: 5px;
}

.button {
  display: inline-block;
  background-color: #EE8C45;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff9f6e;
}

.small-text {
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {

  .input-group input,
  .input-group select {
    width: 100%;
  }
  .container{
    width: 100%;
  }
}
