html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.Darly {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient( #164a41 , #9DC88D );
 

}
.Supe {
  
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%; /* Ajusta el ancho según tu preferencia */
  height: 100vh;
  
}
.Blanco {
 
  width: 40%;
  height: 85%;
   /* 30% del ancho de la ventana */
  background-image: url(../../../ImgSig.jpg); 
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}



.Mateo {
  display: flex;
  width: 40%;
  height: 85%;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: aliceblue;
  
}
.Carlos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}
h1{
  font-size: 30px;
 
}
.logo-section {
  text-align: center; 
}

.button-section {
  margin-top: 20px; /* Agrega un margen superior para separar el botón del texto */
   text-align: center; 
}
.decorado {
  text-decoration: underline;
  color: orange;
  text-shadow: 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange, 0 0 orange;
}  
@media screen and (max-width: 768px) {
  .Darly {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .Blanco {
    display: none; /* Oculta el contenedor con la imagen de fondo en pantallas pequeñas */
    
  }
  
}






