.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.input-group {
  margin-bottom: 10px;
  width: 100%;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  margin-top: 5px;
  border: 2px solid #164a41;
  border-radius: 5px;
  height: 30px; 
}

.button {
  background-color: #164a41;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center; 
}

.button:hover {
  background-color: #36756b;
}

.small-text {
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .input-group input,
  .input-group select {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}

.radio-group {
  display: flex; 
  align-items: center; 
}

.radio-group label {
  margin-right: 15px; 
  display: flex; 
  align-items: center; 
}

.radio-group input[type="radio"] {
  margin-right: 5px; 
}