.section-contenido-principal {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-recyklon-text {
  font-size: 10rem;
  font-weight: 900;
  font-family: 'Anton', sans-serif;
  color: #ffff;
}

.section-subtitle {
  font-size: 1.5rem;
  font-family: 'Poetsen One', sans-serif;
  color: #ffff;
}

.section-description {
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  color: #ffff;
}

.section-division-container {
  display: flex;
  width: 100%;
  height: 100%;
}
/* Estilos para el lado izquierdo de Section1 */
.section-left-side {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-text-container {
  text-align: center;
}

/* Estilos para el lado derecho de Section1 */
.section-right-side {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}



.section-hoja-image {
  max-width: 80%;
  max-height: 50%;
  position: relative; /* Agrega esto para poder utilizar propiedades de posición */
  filter: drop-shadow(2em 5em 20px  rgba(0,0,0,0.5));  
}

.section-hoja-image::after {
  content: "";
  position: absolute;
  top: 100%; /* Lo colocamos debajo de la imagen */
  left: 50%; /* Lo centramos horizontalmente */
  transform: translateX(-50%); /* Lo centramos horizontalmente */
  width: 80%; /* Ancho deseado */
  height: 20px; /* Altura de la "sombra" */
  background: rgba(0, 0, 0, 0.3); /* Color de la "sombra" */
  border-radius: 50%; /* Borde redondeado */
  filter: blur(10px); /* Desenfoque para simular la sombra */
  
}


