@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #fff; 
}

.section2-contenido-principal {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2-division-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.section2-left-side {
  width: 95%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2-one {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
}

.section2-division {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: 10px; 
}

.section2-inner-one {
  flex: 1;
  margin: 10px; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: black;
  border-radius: 10px;
  background-color: #164A41; 
}

.recyclable-image {
  width: 100%;
  height: auto;
  max-width: 150px; 
  margin: auto;
}

.inclined {
  transform: rotate(-20deg); 
}

.section2-right-side {
  width: 90%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #164A41; 
  border-radius: 20px;
}

.section2-right-division {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.section2-right-division > div {
  flex: 1 1 45%; 
  background-color: #638564;
  margin: 10px;
  height: 45%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.section2-division h2 {
  font-size: 1.5rem;
  color: #fff; 
  margin-bottom: 10px;
}

.section2-division ul {
  list-style-type: none;
  padding: 0;
  color: #fff;
}

.section2-division p {
  font-size: 0.9rem;
  color: #fff; 
}
