.ContentP01 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ContentText1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .Tittle1 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0px;
  }
  
  .SelectOption1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .SelectOptionPA {
    margin-top: 10px;
  }
  
  .CenterInput {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
  }
  .category {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  

  
  .CenterInput > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .CenterInput label {
    flex: 0 0 150px;
    text-align: left;
    margin-right: 10px;
    white-space: nowrap;
  }
  .RecuadroActP,
  .RecuadroActPD {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 50%; /* Ancho al 50% */
    padding: 10px; /* Añadir relleno para una mejor apariencia */
  }
  
  .ButtonAct1 {
    position: absolute;

    margin-top: 120%;
    margin-bottom: 20px;

  }
  /* Media queries para responsividad */
  @media (max-width: 768px) {
    .ContentP01 {
      padding: 10px;
    }
  
    .SelectOptionPA {
      width: 120px;
    }
  
    .RecuadroActP,
    .RecuadroActPD {
      width: 100%; /* Ajustar el ancho para pantallas más pequeñas */
    }
  
    .CenterInput > div {
      flex-direction: column; /* Apilar etiqueta e input verticalmente */
      align-items: flex-start;
    }
  
    .CenterInput label {
      margin-bottom: 5px; /* Añadir margen para el espaciado */
    }
  
    .ButtonAct1 {
      position: relative;
      margin-top: 20px;
    }
  }
  
  .ola {
    max-width: 100px;
  }
  